@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .loginDiv{
        background-image: url(./assets/loginWallpaper.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        @apply flex justify-center items-center min-h-screen
        
    }

    .logginn{
        background-color: #031230ab;
    }

    .login-input{
        height: 44px;
        border-radius:5px ;
        border: 2px solid black;
        padding: .6rem;
        @apply focus:outline-main focus:caret-main;
        
}
   .login-input::placeholder{
    color:cdcdcd;
    @apply font-montserrat text-[12px] font-[400];

   }

   
}

.book-genel{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border: 10px solid #082d50;
    background: #082d50;
    border-radius: 20px;
    padding: 2rem;
}


.book-div{
   
    width: 300px;
    height: 500px;
    border-radius: 20px;
}

.book-img{
    width: 300px;
    height: 500px;
    border-radius: 20px;

}
